{%- for message in messages %}
    {%- if message.role == "system" %}
        {{- '<|im_start|>' + message.role + '\n' + message.content + '<|im_end|>' + '\n' }}
    {%- elif message.role == "user" %}
        {%- if not add_generation_prompt and loop.last %}
            {{- '<|im_start|>' + message.role + '\n' + message.content + '\n' }}
        {%- else %}
            {{- '<|im_start|>' + message.role + '\n' + message.content + '<|im_end|>' + '\n' }}
        {%- endif %}
    {%- elif message.role == "assistant" %}
        {%- set content = message.content %}
        {%- set reasoning_content = '' %}
        {%- if message.reasoning_content is defined and message.reasoning_content is not none %}
            {%- set reasoning_content = message.reasoning_content %}
        {%- else %}
            {%- if '</think>' in message.content %}
                {%- set content = (message.content.split('</think>')|last).lstrip('\n') %}
                {%- set reasoning_content = (message.content.split('</think>')|first).rstrip('\n') %}
                {%- set reasoning_content = (reasoning_content.split('<think>')|last).lstrip('\n') %}
            {%- endif %}
        {%- endif %}
        {%- if reasoning_content %}
            {%- if loop.last %}
                {{- '<|im_start|>' + message.role + '\n<think>\n\n' + reasoning_content.strip('\n') + '</think>\n\n' + content.lstrip('\n') + "\n" -}}
            {%- else %}
                {{- '<|im_start|>' + message.role + '\n<think>\n\n' + reasoning_content.strip('\n') + '</think>\n\n' + content.lstrip('\n') + "<|im_end|>\n" -}}
            {% endif %}
        {%- else %}
            {%- if loop.last %}
                {{- '<|im_start|>' + message.role + '\n' + content + "\n" -}}
            {%- else %}
                {{- '<|im_start|>' + message.role + '\n' + content + "<|im_end|>\n" -}}
            {% endif %}
        {%- endif %}
    {%- endif %}
{%- endfor %}
{%- if add_generation_prompt and (messages|last).role != "assistant" %}
    {%- if enable_thinking is defined and enable_thinking is false %}
        {{- '<|im_start|>assistant\n<think>\n\n</think>\n\n' }}
    {%- else %}
        {{- '<|im_start|>assistant\n' }}
    {%- endif %}
{%- endif %}
