{%- for message in messages %}
    {%- if message.role == "system" %}
        {{- '<|im_start|>' + message.role + '\n' + message.content + '<|im_end|>' + '\n' }}
    {%- elif message.role == "user" %}
        {%- if not add_generation_prompt and loop.last %}
            {{- '<|im_start|>' + message.role + '\n' + message.content + '\n' }}
        {%- else %}
            {{- '<|im_start|>' + message.role + '\n' + message.content + '<|im_end|>' + '\n' }}
        {%- endif %}
    {%- elif message.role == "assistant" %}
        {%- if loop.last %}
            {{- '<|im_start|>' + message.role + '\n' + message.content + "\n" -}}
        {%- else %}
            {{- '<|im_start|>' + message.role + '\n' + message.content + "<|im_end|>\n" -}}
        {% endif %}
    {%- endif %}
{%- endfor %}
{%- if add_generation_prompt and (messages|last).role != "assistant" %}
    {%- if enable_thinking is defined and enable_thinking is false %}
        {{- '<|im_start|>assistant\n<think>\n\n</think>\n\n' }}
    {%- else %}
        {{- '<|im_start|>assistant\n' }}
    {%- endif %}
{%- endif %}
